{% extends "base/base.html" %}
{% load static %}

{% block title %}Examen - Ensayo Clinico{% endblock %}


{% block cabecera %}
    <h1>Detalles Ensayo Clinico</h1>
    <hr>
    <br>
{% endblock %}

{% block contenido %}
    
    {% if perms.examen.delete_ensayoclinico %}
        {% include "base/modal/_modal_eliminar.html" %}
    {% endif %}

    {% if Mensaje_Busqueda %}
        <pre>{{Mensaje_Busqueda}}</pre>
        <hr>
        <br>
    {% endif %}

    {% include "models/ensayoclinico/_item_ensayoclinico.html" %}

{% endblock %}