{% extends "base/base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load bootstrap_icons %}


{% block title %}Examen - Buscar{% endblock %}


{% block cabecera %}
    <h1>Ensayo Clinico - Buscar AVANZADO</h1>
    <hr>
    <br>
{% endblock %}
{% block contenido %}
    <form action="{% url 'ensayoclinico_buscar_avanzado' %}" method="get">
        {% csrf_token %}
        {% bootstrap_form formulario %}
        <button type="submit" class="btn btn-success">Buscar</button>
        <a href="{% url 'ensayosclinicos_listar' %}" class="btn btn-secondary">Cancelar</a>
    </form>
{% endblock %}